.scubaSpear {
  border: 0px solid #60a5fa;
  border-radius: 50%;

  padding: 0.4rem;
}
.scubaSpearWrapper :hover {
  background-color: rgba(96, 165, 250, 0.1);
  border-radius: 50%;
}
.dataToolTip13 {
  top: -2px;
}
.dataToolTip13:hover::before,
.dataToolTip13:hover::after {
  --scale: 1;
}
.dataToolTip13::before {
  content: "";
  background: radial-gradient(#6a5555, #492407);
  color: #dbeafe;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;

  transform: translateX(-100%) scale(var(--scale));
  transform-origin: bottom left;
  transition: ease-in 0.25s;
  left: 14rem;
  bottom: 7rem;
  background: radial-gradient(#6a5555, #492407);
  border-radius: 10px;
  border: 1px solid #867575;
  padding-left: 2rem;
  padding-right: 2rem;
  --scale: 0;
  z-index: 3;
}
.dataToolTip13::after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: -6.5rem;
  left: 7rem;
  transform: translateX(-85%) scale(var(--scale));
  transform-origin: top center;
  transition: 0.25s;

  border: 15px solid transparent;
  border-top: #6a5555 10px solid;
  color: #fff9d7;
  --scale: 0;
  z-index: 1;
}

.dataToolTip14 {
  top: -2px;
}
.dataToolTip14:hover::before,
.dataToolTip14:hover::after {
  --scale: 1;
}
.dataToolTip14:before {
  content: "";
  background: radial-gradient(#6a5555, #492407);
  color: #dbeafe;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  font-size: 1.3rem;
  transform: translateX(-100%) scale(var(--scale));
  transform-origin: top right;
  transition: ease-in 0.25s;
  left: 3.8rem;
  bottom: -4.75rem;
  background: radial-gradient(#6a5555, #492407);
  border-radius: 10px;
  border: 1px solid #867575;
  padding-left: 2rem;
  padding-right: 2rem;
  --scale: 0;
  z-index: 3;
}
.dataToolTip14:after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: 5.2rem;
  left: 2.7rem;
  transform: translateX(-85%) scale(var(--scale));
  transform-origin: bottom center;
  transition: 0.25s;

  border: 15px solid transparent;
  border-bottom: #6a5555 10px solid;
  color: #fff9d7;
  --scale: 0;
  z-index: 0;
}

.dataToolTip15 {
  top: -2px;
}
.dataToolTip15:hover::before,
.dataToolTip15:hover::after {
  --scale: 1;
}
.dataToolTip15:before {
  content: "";
  background: radial-gradient(#6a5555, #492407);
  color: #dbeafe;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  font-size: 1.3rem;
  transform: translateX(-100%) scale(var(--scale));
  transform-origin: top right;
  transition: ease-in 0.25s;
  left: 3.8rem;
  bottom: -4.75rem;
  background: radial-gradient(#6a5555, #492407);
  border-radius: 10px;
  border: 1px solid #867575;
  padding-left: 2rem;
  padding-right: 2rem;
  --scale: 0;
  z-index: 3;
}
.dataToolTip15:after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: 4.1rem;
  left: 2.7rem;
  transform: translateX(-85%) scale(var(--scale));
  transform-origin: bottom center;
  transition: 0.25s;

  border: 15px solid transparent;
  border-bottom: #6a5555 10px solid;
  color: #fff9d7;
  --scale: 0;
  z-index: 0;
}

.dataToolTip16 {
  top: -2px;
}
.dataToolTip16:hover::before,
.dataToolTip16:hover::after {
  --scale: 1;
}
.dataToolTip16:before {
  content: "";
  background: radial-gradient(#6a5555, #492407);
  color: #dbeafe;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  font-size: 1.3rem;
  transform: translateX(-100%) scale(var(--scale));
  transform-origin: top right;
  transition: ease-in 0.25s;
  left: 3.8rem;
  bottom: -4.75rem;
  background: radial-gradient(#6a5555, #492407);
  border-radius: 10px;
  border: 1px solid #867575;
  padding-left: 2rem;
  padding-right: 2rem;
  --scale: 0;
  z-index: 3;
}
.dataToolTip16:after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: 4.1rem;
  left: 2.7rem;
  transform: translateX(-85%) scale(var(--scale));
  transform-origin: bottom center;
  transition: 0.25s;

  border: 15px solid transparent;
  border-bottom: #6a5555 10px solid;
  color: #fff9d7;
  --scale: 0;
  z-index: 0;
}
